<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='./vue.js'></script>
    <title>Document</title>
</head>
<body>
    <div id='root'>
        <!-- <input type="text" v-model='str'> -->
        <p>2222</p>
        <ul>
            <li v-for='item in list ' :key="item">{{item}}</li>
        </ul>
    </div>
    <script>
        var myvue = new Vue({
            el:'#root',
            data(){
                return {
                    // str:1,
                    list:[1,2,3,4]
                }
            },
            mounted(){
                console.log(1)
            }
        })
    </script>
</body>
</html>